# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [18]:

#function that returns the lesser of two given numbers(check numbers)
#if both numbers are even print the bigger 
#if both numbers are odd or one of it odd print the smaller
#but returns the greater if one or both numbers are odd
 
            
            
            
            
def lesser_of_two_evens(x,y):
    if (x % 2 and y % 2) != 0:
        if y > x:
            print(b)
        if x > y:
            print(a)    
    elif (x % 2 and y % 2) == 0:
        if x < y:
            print(x)
        else:
            print(y)

In [19]:
# Check
lesser_of_two_evens(2,4)

2

In [15]:
# Check
lesser_of_two_evens(2,5)

2

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [20]:
#  function takes a two-word string and returns True if both words begin with same letter
#by using split function 
# if  animal_crackers('Levelheaded Llama') --> True
# outputTrue
#  if animal_crackers('Crazy Kangaroo') --> False
#output false


def animal_crackers(text):
     splitString = text.split()
     if (splitString[0][0]==splitString[1][0]):
         return True
     else:
         return False

In [21]:
# Check
animal_crackers('Levelheaded Llama')

True

In [22]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [25]:
# Given  2 integers, check by if 
#True if the sum of the integers is 20
# if one of the integers is 20.
#If not, return False

    
    def makes_twenty(n1,n2):
    if (n1==20 or n2==20 or (n1+n2)==20):
        return True
    else:
        return False

In [26]:
# Check
makes_twenty(20,10)

True

In [27]:
# Check
makes_twenty(2,3)

False

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [63]:
# making function that capitalizes the first and fourth letters of a name
#make varible for name
#using for loop 
#using if  the first letter is capitalizes, the foruth letter  capitalizes,
#elif no the first letter or foruth  not capitalizes it

def old_macdonald (name):

     newString =''
     for x, c in enumerate(name):
        if (x==0):
             newString += c.upper()
        elif (x==3):
             newString += c.upper()
        elif (x!=0 or x!=3):
             newString += c
     return(newString)

In [64]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [120]:
 #making function
# if n is within 10 of either 100 or 200 True
# 90   is within 10 of either 100 or 200 (true)
#104  is within 10 of either 100 or 200 (true)
#150 is  not within 10 of either 100 or 200 (false)
#209 is   within 10 of either 100 or 200 (true)


def almost_there(n):
     if (n in range(90,110)):
         return True
     elif (n in range(190, 210)):
         return True
     else:
         return False

In [121]:
# Check
almost_there(90)

True

In [122]:

almost_there(104)

True

In [123]:
# Check
almost_there(150)

False

In [60]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [83]:
#making a list of ints,
#using for loop
#return True if the array contains a 3 next to a 3 somewhere.

#first list ([1, 3, 3])  have 3 next to a 3 (True)
#second list ([1, 3, 1, 3]) have 3 next to a 3 (False)
#third list([3, 1, 3]) have 3 next to a 3 (False)
def has_33(nums):
    
    for i in range (len(nums)-1):
        
        if (nums[i] == 3 and nums[i+1]==3 ):
            signal=True
        else:
            signal=False
    return signal

In [84]:
# Check
has_33([1, 3, 3])

True

In [85]:
# Check
has_33([1, 3, 1, 3])

False

In [86]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [96]:
#making  a string,
#return a string where for every character in the original there are three characters(repaeat letter 3 times)
#by using  for loop
    
    
def paper_doll(word):
    result=""  
    for letter in word:
        result+=letter*3
    return result

In [97]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [98]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [103]:
# three integers between 1 and 11, 
 #using for loop
#if their sum is less than or equal to 21, return their sum.
#If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, 
#if the sum (even after adjustment) exceeds 21, return 'BUST'


def blackjack(a,b,c):
    for i in range(0,12):
        if sum((a,b,c)) <= 21:
            return sum((a,b,c))
        elif sum ((a,b,c)) > 21 and 11 in (a,b,c):
            if a == 11:
                a -= 10
                continue
                if b == 11 and sum((a,b,c)) > 21:
                    b -= 10
                    continue
                    if c == 11 and sum((a,b,c)) > 21:
                       
                        print(sum-10)
                        break
                        return sum((a,b,c))

        else:
            return 'Bust'

In [104]:
# Check
blackjack(5,6,7)

18

In [105]:
# Check
blackjack(9,9,9)

'Bust'

In [106]:
# Check
blackjack(9,9,11)

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [116]:
 #using Return the sum of the numbers in the array, 
#except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9).
#Return 0 for no numbers.
def summer_69(lst):
    it = iter(lst)
    total = 0
    for x in it:
        if x == 6:
            9 in it
        else:
            total += x
    return total

In [117]:
# Check
summer_69([1, 3, 5])

9

In [118]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [119]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [110]:
#function that takes in a list of integers and 
#returns True if it contains 007 in order
 def spy_game(nums):
    for x in range(0,len(nums)):
        first_0=nums.index(0)
        second_0=nums.index(0, first_0+1)
        seven=nums.index(7)
        if nums[first_0:second_0+1]!=seven and seven>second_0:
            return True
        else:
            return False

In [111]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [112]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [113]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [114]:
#count the prime num in 0:101
#using forloop
#output the prime num in range

def count_primes(num):
    counter = 0
    for n in range(2,num+1):
        prime=True
        for i in range(2,n):
            if(n%i == 0):
                prime=False
                break
        if prime:
            counter += 1
    return counter

In [115]:
# Check
count_primes(100)

25

## Great Job!